@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.videoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  width: 20rem; /* Adjust the width as needed */
  height: 15rem; /* Adjust the height as needed */
  border: 1px solid white; /* Add a border if desired */
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 40px;
  margin-right: 30px;
  margin: 0 auto;
}

.title {
  text-align: center; /* Center the text */
  font-size: 23px;
  font-family: Vindigater;
}

.hero_image {
  /* The image used */

  /* Set a specific height */
  height: 83vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Add some padding and text styling for the content inside the hero image */
  padding: 100px;
  /* color: #1282a2;  */
  text-align: center;
  margin-bottom: 80px;
}

.hero_text {
  /* Center text vertically and horizontally within the .hero-image */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(213, 53, 0);
  text-align: center;
  font-size: 2em;
}

.hero_title {
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
  color: #e63946;
  margin-right: 1199px;
  margin-top: 0px;
  font-weight: 1000;
}

.hero_body {
  /* border: 3px solid red; */
  width: 90%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.title_link {
  color: black;
  text-decoration: none;
}
.video_tumb {
  margin-bottom: 40px;
}

.video_tumb:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.bla {
  margin-top: 7rem;
  margin-right: 46rem;
}

.izgledaj {
  margin-top: -10rem;
  margin-left: 9rem;
}

.Momiche {
  margin-left: 45rem;
  margin-top: -22rem;
}
.teeext {
  font-family: Josefin Sans ", sans-serif";
  font-weight: 800;
  color: #087e8b;
  margin-top: -13rem;
  margin-right: 50rem;
  font-size: 1, 2rem;
}

.lll {
  margin-top: 6rem;
  margin-left: 240px;
}
